/__pycache__

/configs/*
!/configs/replace_txts_with_mapping_csv.yaml

/data/*
!/data/replace_mapping.csv
!/data/original_txts

/data/original_txts/*
!/data/original_txts/01.txt
!/data/original_txts/02.txt
!/data/original_txts/03.txt

/results/*
!/results/01.txt
!/results/02.txt
!/results/03.txt
